/*

pixl.css (c)2015 Anylytics

Style sheet to accompany pixl.js

*/

.pixl {
	background-color:white;
	display:inline-block;
}

.pixl:hover {
	background-color:salmon;
}

.pixl-ten {
	height: 10px;
	width: 10px;
	margin: 2px;
}

.pixl-ten:hover {
	height:12px;
	width:12px;
	margin:1px;
}

.pixl-sixteen {
	height: 16px;
	width: 16px;
	margin: 4px;
}

.pixl-sixteen:hover {
	height:20px;
	width:20px;
	margin:2px;
}

.pixl-twenty {
	height:20px;
	width:20px;
	margin:4px;
}

.pixl-twenty:hover {
	height:24px;
	width:24px;
	margin:2px;
}
